{% extends 'EKPDBundle::base.html.twig' %}

{% block content %}

<header id="main_nav">
    <nav>
        <ul>
            <li>{{ include(
            'EKPDBundle:User:navigation.html.twig'
            ) }}</li>
        </ul>
    </nav>
</header>

<main>
    <section>

        <article>
            <header>
                <h2>Te būs wish title</h2>
                <p>Wish laiks, autors</p>
            </header>
        </article>

    </section>

    {{ include(
        'EKPDBundle:User:profile.html.twig'
    ) }}
</main>

<footer>
    <p>Wish list 2013 Evita Knospiņa</p>
</footer>


{% endblock %}