{% extends 'EKPDBundle::base.html.twig' %}

{% block content %}
    
    <div id="login">

        <h1>Wish list</h1>
        <h2>Share your wish with your friends</h2>
        <h2>Fulfill wishes of your friends</h2>

        <ul>
            <li>
                <a href="{{ url('fb_login') }}">Login with Facebook</a>
            </li>
        </ul>
        
    </div>

{% endblock %}